<!-- Bottom Alert Bar
================================================== -->
{% if site.mailchimp-list %}
<div class="alertbar m-sm-0 pb-0 pt-2">
  <div class="container text-center p-sm-0">
    <span><img src="/{{site.logo-small}}" alt="{{site.title}}" class="mobile-logo-small">
      <p class="mb-0 pl-md-1 pb-0 pb-md-1 mb-md-1 d-md-inline">
        Never miss a <b>story</b> from us
        <span class="d-none d-md-inline">
          subscribe to our newsletter
        </span>
      </p>
    </span>
        <form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate" target="_blank" novalidate>
            <div class="mc-field-group">
            <input type="email" placeholder="Email" name="EMAIL" class="required email d-inline" id="mce-EMAIL" autocomplete="on" required>
            <input type="submit" value="Subscribe" name="subscribe" class="heart d-inline">
            </div>
        </form>
  </div>
</div>
{% endif %}
