<!-- open grpah - add information for social sharing -->
<meta property="og:site_name" content="Website or Company Name"/>
<meta property="og:title" content="{{page.title}}"/>
<meta property="og:description" content="{{page.description}}"/>
<meta property="og:image" content="{{page.og-image}}">
<meta property="og:image:type" content="image/png">
<meta property="og:url" content="https://yourdomain.com/{{page.url}}">
<meta property="og:type" content="page"/>
<meta name="twitter:card" content="summary_large_image">
