<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  {% include ga.html %}
  <body class="{{layout}}">
    {% include nav.html %}
    <header id="hero" class="bg-home">

    </header>
    <div class="site-content">
      <div class="container">
        <!-- Content
        ================================================== -->
        <div class="main-content">
            {{ content }}
        </div>
        {% include mailchimp.html %}
      </div>
      {% include jumbotron.html %}
    </div> <!-- /.site-content -->
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
